<!--
*projects.ejs
*Muksud Hussain Mahi
*ID: 301155894
*May 31, 2021
-->
<%- include ../partials/header.ejs %>
  <%- include ../partials/main_nav.ejs %>
    <main>
      <!--Title section-->
      <div class="container">
        <div class="title-box text-center">
          <h3 class="title-a">
            <%=title%>
          </h3>
          <p class="subtitle-a">
            Visualize the power of knowledge.
          </p>
          <div class="line-mf"></div>
        </div>
        <div class="card-deck">
          <div class="card">
            <img src="Assets/images/food_.jpg" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Food delivery system</h5>
              <p class="card-text">This is a food delivery application based on web and mobile platform. Me and my team
                designed this application where three types of user can use the app such as Restaurant, Delivery Partner
                and the Customer.</p>
            </div>
          </div>
          <div class="card">
            <img src="Assets/images/swim.png" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Swim management system</h5>
              <p class="card-text">This is desktop application based on .NET framework. This application can be used to
                manage a swimming competition. I developed this application according to the blueprint designed by the
                software engineer </p>
            </div>
          </div>
          <div class="card">
            <img src="Assets/images/android.jpg" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Pizza ordering android app</h5>
              <p class="card-text">This is an android based application which currently I am working on. I am using Java
                and Android Studio to develop the app.</p>
            </div>
          </div>
        </div>
      </div>
    </main>
    <%- include ../partials/bottom_nav.ejs %>
      <%- include ../partials/footer.ejs %>