<!--
*services.ejs
*Muksud Hussain Mahi
*ID: 301155894
*May 31, 2021
-->
<%- include ../partials/header.ejs %>
  <%- include ../partials/main_nav.ejs %>
    <main>
      <div class="container">
        <div class="title-box text-center">
          <h3 class="title-a">
            <%=title%>
          </h3>
          <p class="subtitle-a">
            With the commitment of quality products.
          </p>
          <div class="line-mf"></div>
        </div>
        <div class="card-deck">
          <div class="card">
            <img src="Assets/images/programming.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">General Programming</h5>
              <p class="card-text">Progaramming languages include C#, Java, JavaScript and Python</p>
            </div>
          </div>
          <div class="card">
            <img src="Assets/images/mobile.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Android Mobile Application Development</h5>
              <p class="card-text">Android application using Java and Android Studio.</p>
            </div>
          </div>
          <div class="card">
            <img src="Assets/images/web.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Web Application Development</h5>
              <p class="card-text">Modern interactive websites using Express.js and Node.js</p>
            </div>
          </div>
        </div>
      </div>
    </main>
    <%- include ../partials/bottom_nav.ejs %>
      <%- include ../partials/footer.ejs %>